<!--

    Erp System - Mark I No 2 (Beniah Series) Client 0.0.1-SNAPSHOT
    Copyright © 2022 - 2025 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div>
  <!-- A custom template for the activated field -->
  <ng-template #customActivated let-editForm="editForm">
    <div class="form-group" [formGroup]="editForm">
      <label>Activated</label>
      <jhi-slide-toggle formControlName="activated"></jhi-slide-toggle>
    </div>
  </ng-template>

  <ng-template #customInstitution let-editForm="editForm">
    <jhi-m21-institution-form-control
      (valueSelected)="updateInstitution($event)"
      [inputValue]="editForm.get(['institution'])!.value"
      formControlName="institution"
      inputControlLabel="institution"
      ngDefaultControl
    >
      <option [ngValue]="editForm.get(['institution'])!.value"></option>
    </jhi-m21-institution-form-control>
  </ng-template>

  <div [formGroup]="editForm">
    <jhi-application-user-update
      [selectedInstitution]="selectedInstitution"
      [customInstitutionTemplate]="customInstitution"
      [customActivatedTemplate]="customActivated"
    ></jhi-application-user-update>
  </div>
</div>
