<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (entitySubscription(); as entitySubscriptionRef) {
      <div>
        <h2 data-cy="entitySubscriptionDetailsHeading"><span>Entity Subscription</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ entitySubscriptionRef.id }}</span>
          </dd>
          <dt><span>Subscription Token</span></dt>
          <dd>
            <span>{{ entitySubscriptionRef.subscriptionToken }}</span>
          </dd>
          <dt><span>Start Date</span></dt>
          <dd>
            <span>{{ entitySubscriptionRef.startDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>End Date</span></dt>
          <dd>
            <span>{{ entitySubscriptionRef.endDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Institution</span></dt>
          <dd>
            @if (entitySubscription()!.institution) {
              <div>
                <a [routerLink]="['/institution', entitySubscription()!.institution?.id, 'view']">{{
                  entitySubscriptionRef.institution?.name
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/entity-subscription', entitySubscriptionRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
